<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo socker io</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <!-- phia client muon xai socket.io thi phai add thu vien tren vao -->
    <script>
        //goi dien len server
        var socket = io('http://localhost:3000/');
        socket.on('Server-send-data', function(data) {
            $('#noidung').append(data + ', ');
        });
        //y nghia la khi browser tai het trang html roi moi chay cai script nay. neu khong co dong document thi chay tu dau den cuoi
        $(document).ready(function() {
            // alert("hello jquery");
            $('#mrA').click(function() {
                socket.emit('Client-send-data', "hello");
                //client-send-data là tên của dữ liệu muốn gửi lên server, hello là dữ liệu muốn gửi.
            });
        });
    </script>
</head>

<body>
    <div id="mrA">Click send</div>
    <h2 id="noidung"></h2>
    <p>alo em ten gi day khum phai la thinh dou</p>
</body>

</html>