<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo socker io</title>
    <script src="jquery.js"></script>
    <script>
        //y nghia la khi browser tai het trang html roi moi chay cai script nay. neu khong co dong document thi chay tu dau den cuoi
        $(document).ready(function() {
            alert("hello jquery");
        })
    </script>
</head>

<body>
    con khi gi vay
</body>

</html>